.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 18%;
    height: 100%;
    background-color: #91B2BE
}

.content {
    width: 82%;
    height: 100%;
}

.header {
    width: 100%;
    height: 6%;
}

.outlet {
    width: 100%;
    height: 94%;
}