@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    color: white !important;
}

.placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: white;
    cursor: pointer;
}

.header_text {
    font-family: "Sofia Sans Extra Condensed", sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 50px !important;
    width: 33%;
    color: black;
}

.scoreboard {
    height: 90%;
    width: 100%;
    background-color: #141414;
}

.team {
    height: 50%;
    width: 100%;
    border: solid 1px white;
    display: flex;
}

.players {
    width: 78%;
    height: 100%;
}

.player_container {
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
}

.player {
    font-family: "Sofia Sans Extra Condensed", sans-serif !important;
    font-size: 120px !important;
    font-weight: 800 !important;
    text-transform: uppercase;
}

.single {
    font-size: 160px !important;
}

.set_container {
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.set_score {
    font-family: "Sofia Sans Extra Condensed", sans-serif !important;
    font-size: 100px !important;
    font-weight: 800 !important;
    text-align: center;
}

.score_container {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    font-family: "Sofia Sans Extra Condensed", sans-serif !important;
    font-size: 240px !important;
    font-weight: 800 !important;
}